<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EstadisticasDucos.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    
    <connectionStrings />
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <EstadisticasDucos.My.MySettings>
            <setting name="Hora00" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Hora01" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Hora02" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Hora03" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Hora04" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Hora05" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Hora06" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Hora07" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Hora08" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Hora09" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Hora10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Hora11" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Hora12" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Hora13" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Hora14" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Hora15" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Hora16" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Hora17" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Hora18" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Hora19" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Hora20" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Hora21" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Hora22" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Hora23" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Precio00" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Precio01" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Precio02" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Precio03" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Precio04" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Precio05" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Precio06" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Precio07" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Precio08" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Precio09" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Precio10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Precio11" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Precio12" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Precio13" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Precio14" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Precio15" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Precio16" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Precio17" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Precio18" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Precio19" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Precio20" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Precio21" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Precio22" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Precio23" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesBalance01" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesBalance02" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesBalance03" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesBalance04" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesBalance05" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesBalance06" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesBalance07" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesBalance08" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesBalance09" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesBalance10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesBalance11" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesBalance12" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesBalance13" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesBalance14" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesBalance15" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesBalance16" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesBalance17" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesBalance18" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesBalance19" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesBalance20" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesBalance21" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesBalance22" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesBalance23" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesBalance24" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesBalance25" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesBalance26" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesBalance27" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesBalance28" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesBalance29" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesBalance30" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesBalance31" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesPrecio01" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesPrecio02" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesPrecio03" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesPrecio04" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesPrecio05" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesPrecio06" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesPrecio07" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesPrecio08" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesPrecio09" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesPrecio10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesPrecio11" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesPrecio12" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesPrecio13" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesPrecio15" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesPrecio16" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesPrecio17" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesPrecio18" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesPrecio19" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesPrecio20" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesPrecio21" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesPrecio22" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesPrecio23" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesPrecio24" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesPrecio25" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesPrecio26" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesPrecio27" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesPrecio28" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesPrecio29" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesPrecio30" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesPrecio31" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesPrecio14" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ValorHora00" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblBalanceAño12" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblBalanceAño11" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblBalanceAño10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblBalanceAño09" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblBalanceAño08" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblBalanceAño07" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblBalanceAño06" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblBalanceAño05" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblBalanceAño04" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblBalanceAño03" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblBalanceAño02" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblBalanceAño01" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblPrecioAño01" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblPrecioAño02" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblPrecioAño12" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblPrecioAño11" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblPrecioAño10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblPrecioAño09" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblPrecioAño08" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblPrecioAño07" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblPrecioAño06" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblPrecioAño05" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblPrecioAño03" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblTransasionesAño12" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblTransasionesAño11" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblTransasionesAño10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblTransasionesAño09" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblTransasionesAño08" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblTransasionesAño07" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblTransasionesAño06" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblTransasionesAño05" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblTransasionesAño04" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblTransasionesAño03" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblTransasionesAño02" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblTransasionesAño01" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mesloco" serializeAs="String">
                <value />
            </setting>
            <setting name="Reinicios" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="lblPrecioAño04" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblGanadoMes04" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblGanadoMes01" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblGanadoMes02" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblGanadoMes03" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblGanadoMes05" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblGanadoMes06" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblGanadoMes07" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblGanadoMes08" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblGanadoMes09" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblGanadoMes10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblGanadoMes11" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblGanadoMes12" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblBalanceAño2023" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblBalanceAño2022" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblBalanceAño2021" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblPrecioAño2023" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblPrecioAño2022" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblPrecioAño2021" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblTransasionesAño2021" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblTransasionesAño2022" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblTransasionesAño2023" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblGanadoAño2023" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblGanadoAño2022" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblGanadoAño2021" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value />
            </setting>
            <setting name="GradosFan" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="FanVerde" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="FanAmarillo" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="MediaPrecioDia" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrecioMedioMes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MensajesError" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FanRojo" serializeAs="String">
                <value>25</value>
            </setting>
        </EstadisticasDucos.My.MySettings>
    </userSettings>
</configuration>